{% load static %}
{% load carts_tags %}


{% user_carts request as carts %}
<div class="ms-2"> <!-- Добавляем отступ слева -->
    <button type="button" class="btn btn-dark btn-secondary d-flex" id="modalButton"
        aria-expanded="false" style="background-color:#FFFFFF; border: 1px solid #242526; border-radius: 30px; color: #242526">
        <img class="mx-1" src="{% static "deps/icons/cart.svg" %}" alt="Catalog Icon" width="24"
            height="24">
        <span id="goods-in-cart-count">{{ carts.total_quantity }}</span>
    </button>
</div>

<form class="d-flex ms-2" role="search" action="{% url "catalog:search" %}" method="get"> 
    <input class="form-control me-2" type="search" name="q" placeholder="  Поиск" aria-label="Search" style="border: 1px solid #242526; border-radius: 30px; height: 50px; width: 500px; margin-left: 200px;">
    <button class="btn btn-outline-success text-white" type="submit" style="background-color:none; border: 1px solid #242526; border-radius:30px;">
        <img class="mx-1" src="{% static "deps/icons/search.svg" %}" alt="Catalog Icon" width="30" height="30">
    </button>
</form>
</div>



<!-- Разметка модального окна корзины -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3 class="text-center mb-4">Корзина</h3>
            <div class="container" id="cart-items-container">
                <!-- Разметка корзины -->
                {% include "carts/includes/included_cart.html" %}
                <!-- Закончилась разметка корзины -->
            </div>
            <a class="btn btn-dark" href="orders/create_order.html">
                Оформить заказ
            </a>
        </div>
    </div>
</div>
</div>