body {
  background-color: #FFFFFF;
  font-family: 'Involve', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}
.navbar {
  background-color: #FFFFFF; 
}
.navbar-nav .nav-link {
  color: #242526; 
  font-size: 20px; 
}
.navbar-brand img {
  height: 35px; 
  width: auto;
}
.navbar-nav .nav-link:hover {
  color: #A93323; 
}
.navbar-nav .nav-item {
  margin: 0 65px; 
  font-family: 'Involve';
}


.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  /* box-shadow: 5px 5px 25px 19px #000000; */
}


.card {
  border: 1px solid #242526 !important;
}

.card:focus, .card:active {
  outline: #A93323;
}

a:focus, a:active {
  outline: #A93323;
  border: 1px solid #242526;
}

/* Стили для названия товара */
a.product-title {
  font-family: 'Involve';
  font-weight: 700;
  text-decoration: none;
  color: #242526;
}

a.product-title:hover {
  color: #A93323;
}


.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  background-color: #A93323;
}
.discount-percent {
  color: #A93323; 
  font-weight: bold;
  font-size: 1rem; 
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
  background-color: #A93323;
}
/* Убираем рамки у пагинации */
.pagination .page-item .page-link {
  border: none;
  color: #A93323; 
}

/* Активная страница */
.pagination .page-item.active .page-link {
  background-color: #A93323; 
  border-color: #A93323; 
  color: white; 
}

/* Неактивные ссылки */
.pagination .page-item.disabled .page-link {
  color: #6c757d; 
}

/* Эффект при наведении */
.pagination .page-item .page-link:hover {
  background-color: #f8f9fa; 
  color: #A93323; 
}
/* Цвет фона выпадающего меню */
.dropdown-menu {
  background-color: #A93323; 
  border: none;
}

/* Цвет текста в выпадающем меню */
.dropdown-menu .form-check-label,
.dropdown-menu p {
  color: #242526; 
}

/* Цвет чекбоксов и радиокнопок */
.dropdown-menu .form-check-input {
  background-color: #242526; 
  border-color: white; 
}

/* Цвет кнопки "Применить" */
.dropdown-menu .btn-primary {
  background-color: white; 
  color: #A93323; 
  border: none; 
  border-radius: 30px; 
}

/* Эффект при наведении на кнопку "Применить" */
.dropdown-menu .btn-primary:hover {
  background-color: #f8f9fa; 
  color: #A93323; 
}