{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static  "deps/css/my_css.css" %}">
    <!-- Стиль footer-a для главной страницы -->
    {% block css %}
    
    {% endblock css %}
    <!-- Favicons for different platforms -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static  "deps/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static  "deps/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static  "deps/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static  "deps/favicon/site.webmanifest" %}">
    <title>{{title}}</title>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url "main:index" %}">
                <img src="{% static "deps/icons/logo.svg" %}" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "main:about" %}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Тест</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <a href="carts/cart.html" class="nav-link" style="margin-right: 30px;">
                        <img src="{% static  "deps/icons/cart.svg" %}" alt="Корзина" style="height: 30px; width:auto;"> 
                    </a>
                    <a href="users/login.html" class="nav-link">
                        <img src="{% static  "deps/icons/user.svg" %}" alt="Профиль" style="height: 30px; width:auto;"> 
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
    <section>
        
        <div class="container">
            <!-- Каталог и корзина с фиксированным расположением на странице -->
            <div class="row mt-1 position-fixed z-3">
                <!-- Каталог -->
                <div class="d-flex align-items-center">
                    <div class="dropdown mb-2">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                            style="background-color: #F9A7EA; border: none; border-radius: 30px; height: 45px; width: 170px; font-family: 'Involve';font-size: 20px;">
                            Каталог
                            <img class="mx-1" src="{% static "deps/icons/grids.svg" %}" alt="Catalog Icon" width="25" height="25">
                        </button>
                        <ul class="dropdown-menu" style="background-color: #F9A7EA; border-radius: 30px;">
                            <li><a class="dropdown-item text-dark" href="{% static "goods/catalog.html" %}">Все товары</a></li>
                            <li><a class="dropdown-item text-dark" href="{% static "goods/catalog.html" %}">Женские ароматы</a></li>
                            <li><a class="dropdown-item text-dark" href="{% static "goods/catalog.html" %}">Мужские ароматы</a></li>
                            <li><a class="dropdown-item text-dark" href="{% static "goods/catalog.html" %}">Унисекс ароматы</a></li>
                            <li><a class="dropdown-item text-dark" href="{% static "goods/catalog.html" %}">Для детей</a></li>
                            <li><a class="dropdown-item text-dark" href="{% static "goods/catalog.html" %}">Ароматы для дома</a></li>
                            <li><a class="dropdown-item text-dark" href="{% static "goods/catalog.html" %}">Парфюмированный уход</a></li>
                        </ul>
                    </div>
                
                    <form class="d-flex ms-2" role="search" > <!-- Добавляем класс ms-2 для отступа между элементами -->
                        <input class="form-control me-2" type="search" placeholder="  Поиск" aria-label="Search" style="border-radius: 30px; height: 50px; width: 500px; margin-left: 200px;">
                        <button class="btn btn-outline-success text-white" type="submit" style="background-color: #F9A7EA; border: none; border-radius:30px;">
                            <img class="mx-1" src="{% static "deps/icons/search.svg" %}" alt="Catalog Icon" width="30" height="30">
                        </button>
                    </form>
                </div>
                
                
                <!-- Значек корзины, вызывает модальное окно -->
                <div>
                    <button type="button" class="btn btn-dark btn-secondary d-flex" id="modalButton"
                        aria-expanded="false" style="background-color: #F9A7EA; border: none; border-radius: 30px; color: #242526">
                        <img class="mx-1" src="{% static "deps/icons/cart.svg" %}" alt="Catalog Icon" width="24"
                            height="24">
                        <span id="goods-in-cart-count">0</span>
                    </button>
                </div>
                <!-- Разметка модального окна корзины -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3 class="text-center mb-4">Корзина</h3>
                                <div class="container" id="cart-items-container">
                                    <!-- Разметка корзины -->
                                    <div class="card mb-3 text-bg-light shadow-lg">
                                        <div class="card-header">
                                            <h5 class="card-title">Товар</h5>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="row text-center">
                                                    <div class="col p-0">
                                                        <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-dark btn-sm decrement"
                                                                    data-cart-id="" data-cart-change-url="">-</button>
                                                            </span>
                                                            <input type="text" class="form-control number" value="1"
                                                                readonly>
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-dark btn-sm increment"
                                                                    data-cart-id="" data-cart-change-url="">+</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col p-0">
                                                        <p>x 100.00 = </p>
                                                    </div>
                                                    <div class="col p-0"><strong>100.00 $</strong></div>
                                                    <div class="col p-0">
                                                        <a href="#" class="remove-from-cart" data-cart-id="">
                                                            <img class="mx-1" src="{% static "deps/icons/bin.svg" %}"
                                                                alt="Catalog Icon" width="25" height="25">
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card mb-3 shadow-lg">
                                        <div class="card-footer">
                                            <p class="float-left">Итого <strong>1</strong> товар(а) на сумму</p>
                                            <h4 class="float-left"><strong>100.00 $</strong></h4>
                                        </div>
                                    </div>
                                    <!-- Закончилась разметка корзины -->
                                </div>
                                <a class="btn btn-dark" href="orders/create_order.html">
                                    Оформить заказ
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Закончилась разметка модального окна -->
            </div>
        </div>
        <!-- Контент -->
        <div class="container" >
            <div class="row mt-1">
                {% block content %}{% endblock content %}
            </div>
         
            
        </div>
    </section>
    {% block footer %}{% endblock footer %}
    <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "deps/js/jquery-events.js" %}"></script>
    <script src="{% static "deps/js/jquery-ajax.js" %}"></script>
    <script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
</body>

</html>